@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
$pink: #FF78C9;
$yellow: #FFD873;
$green: #ADF1AC;
$blue: #8FDCFD;
$purple: #CD8FFD;

$rum: 'Rum Raisin', sans-serif;
$ubun: 'Ubuntu', sans-serif;